data
*.zarr/
__pycache__/
analysis_*
.kupavenv/
copy_files.sh
run_pipeline.sh
Xenium_SelectedCells.csv
.nextflow*
results/
ignore/
work/
*.tar.gz
*.tar
*.sif
example.pbs
*.o*
*.ignore/
.snakemake/
temp_r_libs/